<h1>Gossips</h1>

<% if user_signed_in? %>

<h1> Retrouvez l'ensemble des Gossips </h1>

<table class="table table-striped">
  <tr>
    <th>Auteur</th>
    <th>Gossip</th>
    <th>Créé le</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

  <% @gossips.each do |gossip| %> 

    <tr>
      <td><%= gossip.user.username %></td>
      <td><%= gossip.content %></td>
      <td><%= gossip.created_at.strftime("%d-%m-%Y") %></td>
      <td><%= link_to "Voir le gossip", gossip_path(gossip) %></td>
      <% if current_user == gossip.user %>
      <td><%= link_to "Editer mon gossip", edit_gossip_path(gossip) %></td>
      <td> <%= link_to "Supprimer mon gossip", gossip_path(gossip),
              method: :delete,
              data: { confirm: 'Etes-vous sûr ?' } %> </td>
      <% else %><td></td><td></td>
      <% end %>        
    </tr>
  <% end %>
</table>

<p class = "text-center"> <%= link_to('Un nouveau gossip ?', new_gossip_path, class: "btn btn-success") %> </p> 

<p class = "text-center"> <%= link_to 'Log out', destroy_user_session_path, method: :delete, class: "btn btn-warning" %>

<% else %>

<h1> Vous souhaitez découvrir nos gossips ? </h1>

<p class = "text-center"> <%= link_to 'Log in', new_user_session_path, class: "btn btn-primary" %> or <%= link_to 'Sign up', new_user_registration_path, class: "btn btn-success" %> 
</p>

<% end %>
